[user]
	name = Yasin Silavi
	email = yas.silavi28@gmail.com
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
